/***********ol ve ul *********/
ol {
    display: inline block;
   text-align: left;
}

ul {
    display: inline block;
    text-align: left;
}

/****************ol ve ul***********/

body {
    text-align: center;

}

.h1 {
    text-transform: uppercase;
    font-size: 42px;
    font-style:italic;

}

.h2 {
    text-transform: uppercase;
    font-size:24px;
} 
#idolsun {
    color: sienna;
}


ul {
    color: black;
}
